body {
    font-family: Verdana, sans-serif;
    /* background-color: pink; */
    /* 以下嘗試刷淡 */
    width: 100%;
    background-image: 
     url(../img/login/daz02.jpg);
    /* background-size: cover; */
    background-position: center;
    /* background-repeat: no-repeat; */
    margin: 0
  }