/* 客服圖案樣式 */
.chatcs {
bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    position: fixed;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url("../img/hcs.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}


/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
    
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-image: url('img/daz10.jpg');
    border-style:double;
    border-color: #ABABAB;
    border-width:3px;
    border-radius: 10px;

}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: palevioletred;
    color: white;
    border-radius: 10px;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: gray;
    border-radius: 10px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}